* {
    margin: 0px;
    padding: 0px;
    font-family: 'Ubuntu', sans-serif;
}

body {
    /* background-image: url(./assets/sunset_illustration.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; */

    background: url("./assets/sunset_illustration.jpg") center/cover no-repeat fixed; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;  
}

h1 {
    font-size: 35px;
}

.form {
    display: flex;
    width: 280px;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(15px);
    border: 1px solid wheat;
    text-align: center;   
    padding: 40px 20px;
    color: white;
    font-weight: bold;
}

.input {
    width: 230px;
    margin: 20px 0px;
    padding: 10px 15px;
    border-radius: 30px;
    border: 1px solid wheat;
    background-color: transparent;
    text-align: left;
}

/* todo: input box when focused is not styled */

.input input {
    border: none;
    background-color: transparent;
    outline: none;
    color: white;
}

::placeholder {
    color: whitesmoke;
}

.remember-forget {
    font-size: 14px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.btn {
    width: 100%;
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    margin-bottom: 15px;
    font-size: 16px;
}

a {
    color: wheat;
}

.register {
    font-size: 14px;
}
